        body {
            font-family: Times New Roman, serif;
            background-color: #000000;
            margin: 0;
            padding: 20px;
            font-size: 14px;
            text-align: center;
        }
        
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        
        button {
            font-family: Times New Roman, serif;
            font-size: 14px;
            color: #ffffff;
            padding: 5px 15px;
            margin: 5px;
            background-color: #f15f86;
            border: 2px outset #eeeeee;
            cursor: pointer;
        }
        
        img {
            width: 300px;
            height: auto;
        }

        button:active {
            border: 2px inset #eeeeee;
        }
        
        .album-container {
            display: inline-block;
            perspective: 1000px;
            margin: 10px;
        }
        
        .album-cover {
            width: 300px;
            height: 300px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s;
            cursor: pointer;
            transform-origin: center;
        }
        
        .album-cover.flipped {
            transform: rotateY(180deg);
        }
        
        .cover-front, .cover-back {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            border: 1px solid black;
        }

        .cover-back {
            transform: rotateY(180deg);
        }
        
        .status {
            margin: 10px 0;
            font-weight: bold;
        }
        
        .info {
            margin: 15px 0;
            font-size: 12px;
            color: #ffffff;
        }
